
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,900,700italic,700,600italic,600,400italic);

#timer {
  font-family: 'Titillium Web', cursive;
  margin: 0 auto;
  text-align: center;
  color: #262544;
  font-weight: 100;
}

#timer div {
  display: inline-block;
  line-height: 1;
  padding: 20px;
  font-size: 40px;
}

#timer div span {
  display: block;
  font-size: 20px;
  color: #262544;
}

#days {
  color: #db4844;
}
#hours {
  color: #db4844;
}
#minutes {
  color: #db4844;
}
#seconds {
  color: #db4844;
}